@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primaryGrey: #343434;
  }
}

body {
  position: relative;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 90%;
  --breakout-max-width: 95%;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(90% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1.5px solid var(--color-primaryGrey);
  padding: 10px 15px;
  border-radius: 0.3rem;
  font-family: inherit !important;
}
input[type="text"]:focus-within,
input[type="number"]:focus-within,
input[type="password"]:focus-within,
input[type="email"]:focus-within,
input[type="tel"]:focus-within,
textarea:focus-within {
  outline: none !important;
  border: 2px solid var(--color-primaryGrey);
}

input[type="checkbox"] {
  accent-color: var(--color-dark);
  width: 15px;
}

/* Styling for dots on the progress line */
.lineDot::before {
  content: attr(data-before-content);
  display: flex;
  position: absolute;
  top: -22px;
  font-weight: 500;
  justify-content: left;
  color: #343434;
  height: 10px;
  width: 10px;
}
.lineDot:nth-child(2)::before {
  justify-content: center;
}
.lineDot:nth-child(3)::before {
  justify-content: end;
}

.lineDot::after {
  content: attr(data-after-content);
  display: flex;
  position: absolute;
  top: 16px;
  font-weight: 500;
  justify-content: left;
  color: #343434;
  height: 10px;
  width: 10px;
}
.lineDot:nth-child(2)::after {
  justify-content: center;
}
.lineDot:nth-child(3)::after {
  justify-content: end;
}
